@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1180px;
  margin: 0 auto;
  overflow-x: hidden;
}

@media (max-width: 1100px) {
  .container {
    max-width: 768px;
    padding: 15px;
  }
}
@media (max-width: 690px) {
  .container {
    max-width: 320px;
    padding: 10px;
  }
}
.header {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 0px rgba(7, 59, 161, 0.1);
          box-shadow: 0px 1px 0px rgba(7, 59, 161, 0.1);
  padding-bottom: 15px;
}
.header .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .header_menu .header_menu_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .text_logo {
  width: 160px;
  border-left: 2px solid #073BA1;
  padding-left: 10px;
  margin-right: 260px;
  padding-top: 4px;
}
.header .text_logo p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #073BA1;
}

.button a {
  padding: 10px 30px 10px 30px;
  background: #073BA1;
  border-radius: 8px;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.button_red a {
  background: #EC3D5A;
}

.header_menu_link_text {
  padding-left: 16px;
}
.header_menu_link_text p {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #073BA1;
}

.header_menu_link_date p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #073BA1;
}

.burger {
  display: none;
}

@media (max-width: 1100px) {
  .header_menu_link img {
    width: 120px;
    height: 40px;
  }
  .text_logo {
    display: none;
  }
  .header_menu_list:nth-child(1) {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .header_menu_list:nth-child(5) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1100px) and (max-width: 750px) {
  .header_menu_list:nth-child(5) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 1100px) {
  .header_menu_list:nth-child(5) img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 1100px) {
  .button_red a {
    margin-left: 10px;
  }
}
@media (max-width: 690px) {
  .header_menu_link img {
    margin-top: 10px;
    margin-right: 58px;
    width: 90px;
    height: 30px;
  }
  .header_menu_list:nth-child(5) {
    display: none;
  }
  .header_menu_list:nth-child(4) {
    display: none;
  }
  .burger {
    padding-left: 10px;
    margin-top: 12px;
    display: block;
  }
}
.service {
  background-image: url(../img/main/service/background.jpg);
  background-repeat: no-repeat;
  background-position: right 50px;
  padding-bottom: 80px;
  padding-top: 50px;
}

.service_top {
  max-width: 780px;
}

.service_title h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  color: #073BA1;
}

.service_body {
  max-width: 640px;
}

.service_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.service_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service_link p {
  margin-left: 8px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #042668;
}
.service_link::before {
  content: url(../img/main/service/rhomb.svg);
}

.service_text {
  margin-top: 36px;
}
.service_text p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #042668;
}

.service_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 380px;
}

.button_white a {
  color: #073BA1;
  background-color: #FFFFFF;
  border: 1px solid #073BA1;
}

.service_bottom {
  margin-top: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.service_bottom_achievments {
  padding: 30px 35px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
          box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
  border-radius: 16px;
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service_bottom_achievments_list {
  width: 140px;
}
.service_bottom_achievments_list h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #073BA1;
}
.service_bottom_achievments_list p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #042668;
}
.service_bottom_achievments_list:not(:last-child) {
  margin-right: 40px;
}

@media (max-width: 1100px) {
  .service {
    background-image: url(../img/main/service/background_tablet.jpg);
    background-position: right 400px;
  }
  .service_bottom {
    margin-top: 390px;
  }
  .service_bottom_achievments_list {
    max-width: 120px;
  }
}
@media (max-width: 690px) {
  .service {
    background-image: url(../img/main/service/background_mobil.jpg);
    background-position: right 700px;
    padding-left: 15px;
  }
  .service_title h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .service_menu {
    width: 100%;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service_link:not(:last-child) {
    margin-bottom: 14px;
  }
  .service_link::before {
    content: url(../img/main/service/rhomb_mobil.svg);
  }
  .service_link p {
    font-size: 14px;
    line-height: 28px;
  }
  .service_text {
    margin-top: 24px;
  }
  .service_button {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 46px;
  }
  .service_button a {
    display: block;
    padding: 16px 80px;
  }
  .button_white {
    margin-top: 10px;
  }
  .service_bottom_achievments {
    padding: 30px 0px 30px 24px;
  }
  .service_bottom_achievments_list {
    width: 90px;
    margin-bottom: 30px;
  }
  .service_bottom_achievments_list h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .service_body {
    max-width: 320px;
  }
}
.ordering_title h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #073BA1;
}

.ordering_body {
  margin-top: 60px;
}

.ordering_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/main/ordering/background.svg);
  background-repeat: no-repeat;
  background-position: 94px 40px;
}

.ordering_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 120px;
  max-width: 250px;
}
.ordering_menu_list h2 {
  margin-top: 20px;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #073BA1;
}
.ordering_menu_list p {
  margin-top: 10px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #79859E;
}
.ordering_menu_list p span {
  font-weight: bold;
}

.ordering_menu_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}
.ordering_menu_icons img {
  width: 100px;
  height: 100px;
}

@media (max-width: 1100px) {
  .ordering_menu {
    background: none;
  }
  .ordering_menu_list {
    max-width: 315px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  .ordering_menu_list h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .ordering_menu_icons {
    margin-left: 0px;
    margin-top: 50px;
    margin-right: 10px;
  }
  .ordering_menu_icons img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 690px) {
  .ordering_title h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .ordering_menu_icons {
    margin-left: 0px;
    margin-top: 40px;
  }
  .ordering_menu_icons img {
    width: 80px;
    height: 80px;
  }
  .ordering_menu_list {
    max-width: 350px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .ordering_menu_list h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .ordering_menu_list p {
    font-size: 14px;
    line-height: 20px;
  }
  .ordering_body {
    margin-top: 30px;
  }
}
.title_rating {
  margin-bottom: 60px;
}
.title_rating h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #073BA1;
}

.menu_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu_rating_list {
  margin-bottom: 20px;
  max-width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
          box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
  border-radius: 16px;
  padding: 15px;
}

.menu_rating_list_image img {
  width: 100px;
  height: 100px;
}

.price_pfone {
  display: none;
}
.price_pfone p {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #073BA1;
}

.menu_rating_info {
  margin-left: 20px;
}

.menu_rating_list_text h4 {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #042668;
  margin-top: 6px;
}
.menu_rating_list_text p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #042668;
}
.menu_rating_list_text span:before {
  content: url(../img/main/rating/time.svg);
  display: inline-block;
  position: relative;
  top: 6px;
}

.menu_rating_list_info {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu_rating_list_info h4 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #073BA1;
}

.menu_rating_list_info_price {
  margin-right: 218px;
}

.menu_rating_list_info_button {
  background: #EC3D5A;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
}
.menu_rating_list_info_button a {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

@media (max-width: 1100px) {
  .title_rating {
    margin-bottom: 40px;
  }
  .title_rating h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .menu_rating_list {
    max-width: 728px;
  }
  .menu_rating_list_info_price {
    margin-right: 366px;
  }
}
@media (max-width: 690px) {
  .title_rating {
    margin-bottom: 30px;
  }
  .title_rating h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .menu_rating {
    width: 300px;
  }
  .menu_rating_list {
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .menu_rating_list_image img {
    width: 70px;
    height: 70px;
  }
  .menu_rating_info {
    margin-left: 10px;
  }
  .menu_rating_list_info_price {
    display: none;
  }
  .price_pfone {
    display: block;
    margin-top: 50px;
  }
  .menu_rating_list_info {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}
.title_typesrating {
  margin-top: 120px;
}
.title_typesrating h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #073BA1;
}

.body_menu_typesrating {
  margin-bottom: 40px;
}

.menu_typesrating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  border-bottom: 2px solid #DDDDDD;
}

.menu_typesrating_list {
  width: 33, 3333%;
  padding: 10px 50px 10px 50px;
}
.menu_typesrating_list p {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #073BA1;
  text-align: center;
}
.menu_typesrating_list:hover {
  border-bottom: 2px solid #073BA1;
}

@media (max-width: 1100px) {
  .title_typesrating {
    margin-bottom: 40px;
  }
  .title_typesrating h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 690px) {
  .title_typesrating {
    margin-top: 80px;
  }
  .title_typesrating {
    margin-bottom: 30px;
  }
  .title_typesrating h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .menu_typesrating_list {
    width: 33, 3333%;
    padding: 5px 10px 10px 5px;
  }
  .menu_typesrating_list p {
    font-size: 14px;
    line-height: 18px;
  }
}
.title_questions {
  margin-top: 120px;
  text-align: center;
}
.title_questions h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #073BA1;
}

.body_questions {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image_questions {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.image_questions img {
  display: block;
  margin: 0 auto;
  width: 370px;
}

.menu_questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.menu_questions_list {
  padding: 15px;
  list-style-type: none;
  -webkit-box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
          box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu_questions_list p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #042668;
}
.menu_questions_list span {
  font-family: "Rubik";
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../img/main/questions/icons/Staricons.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1100px) {
  .body_questions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu_questions {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .title_questions h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .body_questions {
    margin-top: 40px;
  }
  .image_questions img {
    width: 33%;
  }
}
@media (max-width: 690px) {
  .title_questions h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .body_questions {
    margin-top: 30px;
  }
  .menu_questions_list p {
    font-size: 14px;
    line-height: 20px;
  }
  .image_questions img {
    width: 77%;
  }
}
.title_advantages {
  margin-top: 174px;
  text-align: center;
}
.title_advantages h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #073BA1;
}

.menu_advantages {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_advantages_list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 30px;
  -webkit-box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
          box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
  border-radius: 20px;
  margin-right: 20px;
}

.tablet_advantages {
  display: none;
}

.text_menu_advantages_list {
  max-width: 280px;
}
.text_menu_advantages_list > p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #073BA1;
}

.name_menu_advantages_list {
  margin-bottom: 10px;
}
.name_menu_advantages_list p {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #073BA1;
}

.image_menu_advantages_list {
  margin-top: -10px;
  text-align: right;
}

@media (max-width: 1100px) {
  .title_advantages {
    margin-top: 80px;
  }
  .title_advantages h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .menu_advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu_advantages_list {
    margin-bottom: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .tablet_advantages {
    display: block;
  }
}
@media (max-width: 690px) {
  .title_advantages {
    margin-top: 80px;
  }
  .title_advantages h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .menu_advantages_list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
  }
  .text_menu_advantages_list > p {
    font-size: 14px;
    line-height: 20px;
  }
}
.title_reviews {
  margin-top: 120px;
  text-align: center;
}
.title_reviews h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #073BA1;
}

.menu_reviews {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu_reviews_list {
  width: 33%;
  padding: 30px;
  -webkit-box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
          box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
  border-radius: 20px;
}
.menu_reviews_list:not(:last-child) {
  margin-right: 20px;
}

.top_menu_reviews_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}
.top_menu_reviews_list p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #042668;
}

.image_top_menu_reviews_list {
  margin-right: 33px;
}
.image_top_menu_reviews_list img {
  padding-top: 5px;
  padding-left: 33px;
}

.name_top_menu_reviews_list p {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #073BA1;
}

.bottom_menu_reviews_list p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #042668;
}

@media (max-width: 1100px) {
  .title_reviews {
    margin-top: 80px;
  }
  .title_reviews h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .menu_reviews {
    margin-top: 40px;
  }
  .menu_reviews_list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  .menu_reviews_list:last-child {
    display: none;
  }
}
@media (max-width: 690px) {
  .title_reviews {
    margin-top: 80px;
  }
  .title_reviews h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .menu_reviews {
    margin-top: 30px;
  }
  .menu_reviews_list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu_reviews_list:not(:first-child) {
    display: none;
  }
  .bottom_menu_reviews_list p {
    font-size: 14px;
    line-height: 20px;
  }
}
.ask {
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 60px;
  -webkit-box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
          box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
  border-radius: 30px;
  background-image: url(../img/main/ask/backgrond_ask.png);
  background-repeat: no-repeat;
  background-position: 780px 100px;
}
.ask p {
  max-width: 510px;
  margin-top: 20px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #042668;
}

.title_ask {
  text-align: left;
}
.title_ask h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #073BA1;
}

.input_form_ask {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 26px;
}

.input_form_ask h6 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #042668;
}
.input_form_ask p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #042668;
}

.name_input_form_ask {
  margin-right: 20px;
}

.input_type {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 14px;
  width: 280px;
  height: 50px;
  background: #F1F6FB;
  border: 1px solid #E8EEF3;
  border-radius: 8px;
}

.warning_text_ask p {
  max-width: 320px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #79859E;
}

.button_form_ask {
  margin-top: 30px;
  background: #EC3D5A;
  border-radius: 8px;
  padding: 13px 70px;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.ask_tablet {
  display: none;
}

.ask_mobil {
  display: none;
}

@media (max-width: 1100px) {
  .ask {
    display: none;
  }
  .ask_tablet {
    position: relative;
    display: block;
    padding: 80px 206px;
  }
  .image_ask_tablet {
    position: absolute;
    z-index: -2;
    top: 186px;
    left: 428px;
  }
  .body_form_ask_tablet {
    min-width: 426px;
    -webkit-box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
            box-shadow: 0px 1px 4px rgba(7, 59, 161, 0.1);
    border-radius: 30px;
    padding: 40px;
    background-color: #fff;
  }
  .title_ask_tablet {
    text-align: center;
  }
  .title_ask_tablet h2 {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #073BA1;
  }
  .text_form_ask_tablet {
    margin-top: 28px;
  }
  .text_form_ask_tablet p {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #042668;
  }
  .input_form_ask {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .name_input_form_ask {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .warning_text_ask {
    margin-top: 8px;
  }
}
@media (max-width: 690px) {
  .ask_tablet {
    display: none;
  }
  .ask_mobil {
    display: block;
  }
  .title_ask_mobil {
    text-align: center;
    margin-top: 80px;
  }
  .title_ask_mobil h2 {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #073BA1;
  }
  .text_form_ask_tablet {
    margin-top: 22px;
  }
  .text_form_ask_tablet p {
    font-size: 14px;
    line-height: 20px;
  }
  .image_ask_mobil {
    margin-top: 30px;
  }
}
.footer_tablet {
  display: none;
}

.footer {
  background-color: #073BA1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.body_footer {
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-right: 8px;
  padding-left: 8px;
}

.left_body {
  margin-right: 20px;
}

.footer_logo img {
  margin-bottom: 20px;
}
.footer_logo p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 156px;
}

.footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  margin-bottom: 10px;
}

.footer_info_list span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer_info_list:not(:last-child) {
  margin-right: 20px;
}

.footer_info_list_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_info_list_left {
  margin-right: 20px;
}

.footer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_icons img {
  margin-right: 8px;
}

.footer_adress {
  max-width: 350px;
}

.footer_tablet {
  display: none;
}

.footer_mobil {
  display: none;
}

@media (max-width: 1100px) {
  .footer p {
    font-size: 14px;
    line-height: 20px;
  }
  .body_footer {
    display: none;
  }
  .footer_tablet {
    margin: 0 auto;
    max-width: 768px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer_tablet_info {
    margin-right: 16px;
    padding-right: 10px;
  }
  .footer_tablet_info_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_tablet_info_flex_left {
    margin-right: 10px;
  }
  .footer_tablet_fhone_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_tablet_fhone span {
    margin-left: 10px;
  }
  .footer_adress {
    margin-top: 19px;
    margin-bottom: 42px;
  }
  .footer_logo p {
    margin-bottom: 220px;
    font-size: 12px;
    line-height: 16px;
  }
  .footer_logo img {
    width: 120px;
    height: 40px;
  }
  .footer_copy p {
    font-size: 12px;
    line-height: 16px;
  }
  .left_body {
    margin-right: 30px;
  }
}
@media (max-width: 690px) {
  .footer_tablet {
    display: none;
  }
  .footer_mobil {
    display: block;
    margin: 0 auto;
    max-width: 320px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 40px;
    padding-right: 5px;
  }
  .footer_mobil p {
    font-size: 10px;
    line-height: 14px;
  }
  .footer_mobil_logo {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_mobil_logo img {
    width: 135px;
    height: 45px;
    margin-bottom: 14px;
  }
  .footer_mobil_logo p {
    font-size: 12px;
    line-height: 16px;
  }
  .footer_mobil_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  .footer_icons img {
    margin-right: 0px;
    width: 40px;
    height: 30px;
  }
  .footer_tablet_info_flex_left {
    margin-right: 0px;
  }
}
